<?xml version="1.0"?>
<launch>
    <arg name="index" default="0"/>
    
    <group ns="robot$(arg index)_ns">
        <param name="index" value="$(arg index)"/>
        <rosparam file="$(find ur5_controller)/config/ur5_controller_global_config.yaml" command="load" subst_value="true"/>
        <rosparam file="$(find ur5_controller)/config/ur5_controller_config.yaml" command="load" subst_value="true"/>
        <node pkg="ur5_controller" type="ur5_controller_node" name="ur5_controller_node" output="screen"/>
    </group>
</launch>
