<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/wiki/xacro"> 
  <xacro:macro name="contact_bumper" params="name frame_name">
   <gazebo reference="${link_name}">
    <sensor name="lowerleg_contactsensor_sensor" type="contact">
      <always_on>true</always_on>
      <contact>
         <collision>right_upper_arm_fixed_joint_lump__right_bump_sensor_collision_collision_1</collision>
      </contact>
      <plugin filename="libgazebo_ros_bumper.so" name="right_arm_fist_plugin">
        <bumperTopicName>${link_name}contact</bumperTopicName> <!--name of topic which to echo-->
        <frameName>${link_name}</frameName>
      </plugin>
    </sensor>
  </gazebo>
  </xacro:macro>
</robot>



