<?xml version="1.0"?>
<launch>
  <!-- send table urdf to param server -->
  <param name="object_description" command="$(find xacro)/xacro $(find mir_ur5_gazebo)/world/seven_dof_robot.urdf.xacro" />

  <!-- push table_description to factory and spawn robot in gazebo -->
  <node name="spawn_seven_dof_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param object_description -z 0.01 -model object_model" respawn="false" output="screen" />
</launch>
